<style>  
body{  
  font-family: Calibri, Helvetica, sans-serif;  
  background-color: blue;  
}  
.container {  
    padding: 50px;  
  background-color:grey;  
}  
.column {
  float: left;
  width: 33.33%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
  
input[type=text], input[type=password], textarea {  
  width: 90%;  
 padding: 15px;  
  margin: 5px 0 22px 0;  
  display: inline-block;  
  border: none;  
  background: #f1f1f1;  
opacity: 0.9;  
}  
input[type=text]:focus, input[type=password]:focus {  
  background-color: white;  
  outline: none;  
}  
 div {  
           padding: 16px 20px;   
         }  
hr {  
  border: 1px solid #f1f1f1;  
  margin-bottom: 25px;  
}  
.registerbtn {  
  background-color: blue;  
  color: white;  
  padding: 16px 20px;  
  margin: 8px 0;  
  border: none;  
  cursor: pointer;  
  width: 99%;  
  opacity: 0.9;  
}  

.registerbtn:hover {  
  opacity: 1;  
}  
</style>
